header { 
    padding: 45px;
} 
 
main {
    display: flex;
    flex-direction: row;
    gap: 40px; 
    padding: 0px 60px;
}

.principal img {
    padding: 25px;  
    width: 100vh; 
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.information h1 {
    font-weight: 800;

    font-size: 2.8em;
}

.information p {
    padding: 35px 0;
    font-size: 20px;
    line-height: 30px;
} 

.information button {
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    color: hsl(257, 40%, 49%);
    font-size: 17px;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.4);
 
}

.information button:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);;
}

.social div {
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 25px;
    margin: 30px;
}

.social a {
    color: #fff;
    align-content: center;
    border: 2px solid #fff;
    padding: 9px;
    border-radius: 50px;
    font-size: 30px;
   
}

.social a:hover {
    color: hsl(324, 55%, 55%);
    border-color: hsl(313, 72%, 66%);
}

.social i {
    display: flex;
    align-items: center;
}

.social .fa-facebook-f {
    padding-left: 6px;
    padding-right: 6px;
}

.social .fa-instagram {
    padding-left: 3px;
    padding-right: 3px;
}

.copy p {
    color: #fde7e7;
    text-align: center;
    font-size: 15px;
    padding: 3px;
}

/* lembrete -> a img com "vh" não é adequada */