@media (min-width: 330px) and (max-width: 1080px) {
    main { 
    flex-direction: column;
    padding: 35px;
    }

     .principal img {
        width: 100%; 
        padding: 10px 40px;
    }

     .information {
        align-items: center;
        padding: 3px 5px;
    }

     .information h1, .information p {
        font-size: 25px;
        text-align: center;
     }

     .information p {
    font-size: 20px;
     }

    footer {
    justify-self: center;
    }
}

@media (min-width: 1081px) and (max-width: 1350px){
    main { 
    flex-direction: row;
    padding: 5px; 
    }

    .principal img {
        width: 55vh;
    }

    small {
        flex-direction: column;
        justify-content: center;
    }  
} 

/* max-width: 768px (mobile)
min-width: 769px and max-width: 1024px (tablet)
min-width: 1025px (desktop e grandes telas) */ 