@media (max-width: 568px) {

    header {
        padding: 45px;
    }

    header img {
        width: 45%;
    } 

    main { 
    display: flex;
    flex-direction: column;
    padding: 35px;
    }

    .principal img {
        width: 100%;    
    }

    .information {
        display: flex;
        align-items: center;
        padding-top: 0px;
    }

    .information h1 {
        font-size: 30px;
        text-align: center;
    }

    .information p {
        display: flex;
        font-size: 22px;
        text-align: center;
    
    }

    .information button {
        display: flex;
        padding: 20px 100px;
    }

    footer {
    display: flex;
    justify-self: center;
    padding: 20px;
    }
}