@media (max-width: 568px) {

    /* codigo errado:
    main {
        background: url('../images/bg-mobile.svg') no-repeat;
    } */

    header {
        padding: 45px;
    }

    header img {
        width: 45%;
    } 

    main { 
    display: flex;
    flex-direction: column;
    padding: 35px;
    }

    /* codigo errado:
    main img {
        background: url('../images/bg-mobile.svg') center center no-repeat;
        
    } */

    .principal img {
        width: 100%;    
    }

    .information {
        display: flex;
        align-items: center;
        padding-top: 0px;
    }

    .information h1 {
        font-size: 30px;
        text-align: center;
    }

    .information p {
        display: flex;
        /* position: relative;
        width: 2px; */
        font-size: 22px;
        text-align: center;
    
    }

    .information button {
        display: flex;
        /* width: 100px; */
        padding: 20px 100px;
        /* justify-content: center; */
    }

    footer {
    display: flex;
    justify-self: center;
    padding: 20px;
    /* padding-top: 0px; */
    }
}